html {
  font-size: 18px;
}

body {
  color: white;
}

.site-container {
  display: flex;
  margin: 0 auto;
  max-width: 960px;
}

header {
  background-color: black;
}

header .logo img {
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
}

header .logo span {
  font-family: Helvetica;
  font-size: 1rem;
}

header .logo {
  display: flex;
  align-items: center;
  padding: 0.66rem 0;
}

.main-banner {
  height: 25rem;
  background: url("../images/moto.jpeg") no-repeat center;
  background-size: cover;
}

.promotion {
  margin-top: 9rem;
  background: black;
  width: 20rem;
  font-family: Helvetica;
  font-weight: bold;
  padding: 2rem 3rem;
}

.promotion p {
  margin-bottom: 0.25rem;
}

p.promo-title {
  font-size: 1rem;
}

p.promo-item {
  font-size: 2rem;
}

nav {
  display: flex;
  background-color: firebrick;
  justify-content: space-between;
  padding: 0.75rem 0;
}

nav span a {
  color: white;
  text-decoration: none;
}
