html {
  font-size: 18px;
}

body {
  color: white;
}

.site-container {
  margin: 0 auto;
  max-width: 960px;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

header {
  background-color: black;
}

header .logo img {
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
}

header .logo span {
  font-family: Helvetica;
  font-size: 1rem;
}

header .logo {
  display: flex;
  align-items: center;
  padding: 0.66rem 0;
}

.main-banner {
  height: 25rem;
  background: url("../images/moto.jpeg") no-repeat center;
  background-size: cover;
}

.promotion {
  margin-top: 9rem;
  background: black;
  width: 20rem;
  font-family: Helvetica;
  font-weight: bold;
  padding: 2rem 3rem;
}

.promotion p {
  margin-bottom: 0.25rem;
}

p.promo-title {
  font-size: 1rem;
}

p.promo-item {
  font-size: 2rem;
}

.nav-banner {
  background-color: firebrick;
}

nav {
  display: flex;
  padding: 0.75rem 0;
  justify-content: space-between;
}

nav span a {
  color: white;
  text-decoration: none;
}

.product-container {
  border: solid 4px black;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  width: 30%;
}

.product-item {
  display: flex;
  flex-direction: column;
}

.product-item img {
  height: 9rem;
  padding: 2rem 0;
}

.product-item span {
  background-color: black;
  padding: 0.5rem 0;
  text-align: center;
}

.location-container {
  display: flex;
  margin-top: 3rem;
  margin-bottom: 4rem;
  justify-content: space-between;
}

#location, #hours {
  width: 35%;
}

.location-title {
  display: flex;
  flex-direction: column;
  border: solid 1px yellow;
}

.location-title span {
  background: black;
  padding: 1rem 0 1rem 2rem;
}

.location-destination {
  color: black;
}

footer {
  background-color: black;
}

footer .copyright {
  display: flex;
  align-items: center;
  padding: 2.5rem 0;
}
